.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
    h1{
        margin: 0;
    }
    .errorCode{
        font-size: 100px ;
    }
    .errorText{
        font-size: larger;
    }

    .errorLink{
        color: blue;
        &:hover{
            color: darkblue;
        }
    }

    
}

