@use "sass:map";

$height-total: 100vh;
$width-total: 100vh;

$load-variable: (
    width: $width-total*0.070,
    height: $width-total*0.070,
    border-radius: 100px,
    position: absolute,
    animation-name: load1,
    animation-duration: 2.5s,
    animation-iteration-count: infinite,
    display: flex,
    justify-content: center,
    align-items: center,
    font-size: $width-total*0.045
    
);

.load{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}

.load1{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.1s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}
.load2{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.2s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}
.load3{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.3s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}
.load4{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.4s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}
.load5{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.5s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}
.load6{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.6s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
    
}
.load7{
    width: map.get($load-variable, width);
    height: map.get($load-variable, height);
    border-radius: map.get($load-variable, border-radius);
    position: map.get($load-variable, position);
    background-color: map.get($load-variable,  background-color);
    animation-name :map.get($load-variable, animation-name);
    animation-duration: map.get($load-variable, animation-duration);
    animation-iteration-count: map.get($load-variable,  animation-iteration-count);
    display: map.get($load-variable, display);
    justify-content: map.get($load-variable, justify-content);
    align-items: map.get($load-variable,  align-items); 
    animation-delay: -0.7s;
    :last-child{
        font-size: map.get($load-variable, font-size);
    }
}



@keyframes load1 {
    0%   {background-color:#fb4242; transform: translate($width-total*0,$height-total*0.20);}

    3%   {background-color:#fb4242; transform: translate($width-total*0.05,$height-total*0.2063);}
    6%   {background-color:#fb4242; transform: translate($width-total*0.10,$height-total*0.2268);}
    9%   {background-color:#fb4242; transform: translate($width-total*0.15,$height-total*0.2677);}  
    12%  {background-color:#fb4242; transform: translate($width-total*0.1732,$height-total*0.30);}
    15%  {background-color:#fb4242; transform: translate($width-total*0.1854,$height-total*0.325);} 
    18%  {background-color:#fb4242; transform: translate($width-total*0.1936,$height-total*0.35);}
    21%  {background-color:#fb4242; transform: translate($width-total*0.1984,$height-total*0.375);}

    25%  {background-color:#fc1e1e; transform: translate($width-total*0.20,$height-total*0.40);}

    28%  {background-color:#fc1e1e; transform: translate($width-total*0.1984,$height-total*0.425);}
    31%  {background-color:#fc1e1e; transform: translate($width-total*0.1936,$height-total*0.45);}
    34%  {background-color:#fc1e1e; transform: translate($width-total*0.1854,$height-total*0.475);}
    37%  {background-color:#fc1e1e; transform: translate($width-total*0.1732,$height-total*0.50);}
    40%  {background-color:#fc1e1e; transform: translate($width-total*0.15,$height-total*0.5322);}
    43%  {background-color:#fc1e1e; transform: translate($width-total*0.10,$height-total*0.5732);}
    46%  {background-color:#fc1e1e; transform: translate($width-total*0.05,$height-total*0.5936);}
    
    50%  {background-color:#ff9d9d; transform: translate($width-total*0,$height-total*0.60);}

    53%  {background-color:#ff9d9d; transform: translate(-$width-total*0.05,$height-total*0.5936);}
    56%  {background-color:#ff9d9d; transform: translate(-$width-total*0.10,$height-total*0.5732);}
    59%  {background-color:#ff9d9d; transform: translate(-$width-total*0.15,$height-total*0.5322);}
    62%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1732,$height-total*0.50);}
    65%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1854,$height-total*0.475);}
    68%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1936,$height-total*0.45);}
    71%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1984,$height-total*0.425);}

    75%  {background-color:#fe6464; transform: translate(-$width-total*0.20,$height-total*0.40);}

    78%  {background-color:#fe6464; transform: translate(-$width-total*0.1984,$height-total*0.375);}
    81%  {background-color:#fe6464; transform: translate(-$width-total*0.1936,$height-total*0.35);}
    84%  {background-color:#fe6464; transform: translate(-$width-total*0.1854,$height-total*0.325);} 
    87%  {background-color:#fe6464; transform: translate(-$width-total*0.1732,$height-total*0.30);}
    90%  {background-color:#fe6464; transform: translate(-$width-total*0.15,$height-total*0.2677);}
    93%  {background-color:#fe6464; transform: translate(-$width-total*0.10,$height-total*0.2268);}
    96%  {background-color:#fe6464; transform: translate(-$width-total*0.05,$height-total*0.2063);}

    100% {background-color:#fe6464; transform: translate($width-total*0,$height-total*0.20);}
    
  }
 
  
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    position: relative;
    top: $height-total*0.75;
    font-family: 'Courier New', Courier, monospace;
   
}



@media only screen and (max-width: 600px){
    $height-total: 100vw;
    $width-total: 100vw;

    .load,.load1,.load2,.load3,.load4,.load5,.load6,.load7{
        width: $width-total*0.075;
        height: $width-total*0.075;
        background-color: black;
        :last-child{
            font-size: $width-total*0.050;
        }
        
    }

    @keyframes load1 {
        0%   {background-color:#fb4242; transform: translate($width-total*0,$height-total*0.20);}

        3%   {background-color:#fb4242; transform: translate($width-total*0.05,$height-total*0.2063);}
        6%   {background-color:#fb4242; transform: translate($width-total*0.10,$height-total*0.2268);}
        9%   {background-color:#fb4242; transform: translate($width-total*0.15,$height-total*0.2677);}  
        12%  {background-color:#fb4242; transform: translate($width-total*0.1732,$height-total*0.30);}
        15%  {background-color:#fb4242; transform: translate($width-total*0.1854,$height-total*0.325);} 
        18%  {background-color:#fb4242; transform: translate($width-total*0.1936,$height-total*0.35);}
        21%  {background-color:#fb4242; transform: translate($width-total*0.1984,$height-total*0.375);}

        25%  {background-color:#fc1e1e; transform: translate($width-total*0.20,$height-total*0.40);}

        28%  {background-color:#fc1e1e; transform: translate($width-total*0.1984,$height-total*0.425);}
        31%  {background-color:#fc1e1e; transform: translate($width-total*0.1936,$height-total*0.45);}
        34%  {background-color:#fc1e1e; transform: translate($width-total*0.1854,$height-total*0.475);}
        37%  {background-color:#fc1e1e; transform: translate($width-total*0.1732,$height-total*0.50);}
        40%  {background-color:#fc1e1e; transform: translate($width-total*0.15,$height-total*0.5322);}
        43%  {background-color:#fc1e1e; transform: translate($width-total*0.10,$height-total*0.5732);}
        46%  {background-color:#fc1e1e; transform: translate($width-total*0.05,$height-total*0.5936);}
        
        50%  {background-color:#ff9d9d; transform: translate($width-total*0,$height-total*0.60);}

        53%  {background-color:#ff9d9d; transform: translate(-$width-total*0.05,$height-total*0.5936);}
        56%  {background-color:#ff9d9d; transform: translate(-$width-total*0.10,$height-total*0.5732);}
        59%  {background-color:#ff9d9d; transform: translate(-$width-total*0.15,$height-total*0.5322);}
        62%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1732,$height-total*0.50);}
        65%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1854,$height-total*0.475);}
        68%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1936,$height-total*0.45);}
        71%  {background-color:#ff9d9d; transform: translate(-$width-total*0.1984,$height-total*0.425);}

        75%  {background-color:#fe6464; transform: translate(-$width-total*0.20,$height-total*0.40);}

        78%  {background-color:#fe6464; transform: translate(-$width-total*0.1984,$height-total*0.375);}
        81%  {background-color:#fe6464; transform: translate(-$width-total*0.1936,$height-total*0.35);}
        84%  {background-color:#fe6464; transform: translate(-$width-total*0.1854,$height-total*0.325);} 
        87%  {background-color:#fe6464; transform: translate(-$width-total*0.1732,$height-total*0.30);}
        90%  {background-color:#fe6464; transform: translate(-$width-total*0.15,$height-total*0.2677);}
        93%  {background-color:#fe6464; transform: translate(-$width-total*0.10,$height-total*0.2268);}
        96%  {background-color:#fe6464; transform: translate(-$width-total*0.05,$height-total*0.2063);}

        100% {background-color:#fe6464; transform: translate($width-total*0,$height-total*0.20);}
        
    }
    .text{
        top: $height-total*0.80;
    }

    .body{
        height: 100vh*0.40;
    }
}